<div class="menubar">
  <div class="item" data-menu="apple" aria-expanded="false" role="button" tabindex="0" aria-label="Apple menu">
    <span class="rainbow"><i></i><i></i><i></i><i></i><i></i><i></i></span>
    <div class="menu" id="m-apple">
      <a href="index.html">About suffix…</a>
      <hr>
      <a href="https://github.com/PewPewBiches/Suffix/releases/latest">Download suffix</a>
      <a href="https://github.com/PewPewBiches/Suffix">Source on GitHub</a>
    </div>
  </div>

  <div class="item" data-menu="file" aria-expanded="false" role="button" tabindex="0">File
    <div class="menu" id="m-file">
      <a href="index.html">Overview</a>
      <a href="features.html">Features</a>
      <a href="formats.html">Formats</a>
      <hr>
      <a href="https://github.com/PewPewBiches/Suffix/releases/latest">Get suffix…</a>
    </div>
  </div>

  <div class="item hide" data-menu="edit" aria-expanded="false" role="button" tabindex="0">Edit
    <div class="menu" id="m-edit">
      <span>Undo Rename</span>
      <span>Cut</span>
      <span>Copy</span>
      <hr>
      <a href="features.html">Rename…</a>
    </div>
  </div>

  <div class="item" data-menu="special" aria-expanded="false" role="button" tabindex="0">Special
    <div class="menu" id="m-special">
      <a href="trust.html">What it can reach</a>
      <a href="changelog.html">Changelog</a>
      <hr>
      <a href="https://github.com/PewPewBiches/Suffix/issues">Report a problem…</a>
    </div>
  </div>

  <span class="spacer"></span>
  <span class="right">suffix</span>
</div>
